In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Preprocessing Phase 1

In [5]:
df=pd.read_csv("/content/parsed_file.csv")
df.head()

,Action Performed,Connection Classification,Priority,Date-Time,Source IP,Source Port,Destination IP,Destination Port,Protocol,TimeToLive,...,All Flags,Seq,Ack,Win,TCP length,TCP Options,NOP NOP TS,MSS,NOP WS,SackOK TS
0,TCP Timestamp is outside of PAWS window,,3,1573234989,10.1.60.203,57764,7.204.241.161,25,TCP,63,...,*****R**,0x787AFC70,0x0,0x0,20.0,NaN,NaN,NaN,NaN,NaN
1,TCP Timestamp is outside of PAWS window,,3,1573235154,7.204.241.161,25,10.1.60.203,50176,TCP,64,...,*****R**,0xE06DEE6F,0x0,0x0,20.0,NaN,NaN,NaN,NaN,NaN
2,TCP Timestamp is outside of PAWS window,,3,1573235154,7.204.241.161,25,10.1.60.203,50176,TCP,64,...,*****R**,0xE06DEE6F,0x0,0x0,20.0,NaN,NaN,NaN,NaN,NaN
3,TCP Timestamp is outside of PAWS window,,3,1573235222,154.241.88.201,80,3.75.190.181,60708,TCP,63,...,***A****,0xE20FC272,0x567079D3,0x5B,32.0,3.0,66621799 74830877,,,
4,TCP Timestamp is outside of PAWS window,,3,1573235222,154.241.88.201,80,3.75.190.181,60708,TCP,63,...,***AP***,0xE20FC272,0x567079D3,0x5B,32.0,3.0,66621799 74830877,,,

In [6]:
df.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', ' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F', 'All Flags', 'Seq', ' Ack', ' Win', ' TCP length',
       ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [7]:
df['Connection Classification'].fillna(value=0, inplace=True)

<ipython-input-7-6f4f3cedff08>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Connection Classification'].fillna(value=0, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25741 entries, 0 to 25740
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           25741 non-null  object
 1   Connection Classification  25741 non-null  object
 2   Priority                   25741 non-null  int64
 3   Date-Time                  25741 non-null  int64
 4   Source IP                  25741 non-null  object
 5   Source Port                25741 non-null  object
 6   Destination IP             25741 non-null  object
 7   Destination Port           25741 non-null  object
 8   Protocol                   25741 non-null  object
 9   TimeToLive                 25741 non-null  int64
 10  TypeOfService              25741 non-null  object
 11  ID                         25741 non-null  int64
 12  IP Length                  25741 non-null  int64
 13  DataGram Length            25741 non-null  int64
 14   Frag Offset               816 non-null    object
 15   Frag Size                 24108 non-null  object
 16   Flag -2                   23292 non-null  object
 17  Flag-1                     23292 non-null  object
 18   Flag-U                    23292 non-null  object
 19   Flag-A                    23292 non-null  object
 20   Flag-P                    23292 non-null  object
 21   Flag-R                    23292 non-null  object
 22   Flag-S                    23292 non-null  object
 23   Flag-F                    23292 non-null  object
 24  All Flags                  23292 non-null  object
 25  Seq                        23292 non-null  object
 26   Ack                       23292 non-null  object
 27   Win                       23292 non-null  object
 28   TCP length                23292 non-null  float64
 29   TCP Options               17979 non-null  float64
 30   NOP NOP TS                17979 non-null  object
 31   MSS                       17979 non-null  object
 32   NOP WS                    17979 non-null  object
 33   SackOK TS                 17979 non-null  object
dtypes: float64(2), int64(6), object(26)
memory usage: 6.7+ MB

In [9]:
df.isnull().sum()

Action Performed                 0
Connection Classification        0
Priority                         0
Date-Time                        0
Source IP                        0
Source Port                      0
Destination IP                   0
Destination Port                 0
Protocol                         0
TimeToLive                       0
TypeOfService                    0
ID                               0
IP Length                        0
DataGram Length                  0
 Frag Offset                 24925
 Frag Size                    1633
 Flag -2                      2449
Flag-1                        2449
 Flag-U                       2449
 Flag-A                       2449
 Flag-P                       2449
 Flag-R                       2449
 Flag-S                       2449
 Flag-F                       2449
All Flags                     2449
Seq                           2449
 Ack                          2449
 Win                          2449
 TCP length                   2449
 TCP Options                  7762
 NOP NOP TS                   7762
 MSS                          7762
 NOP WS                       7762
 SackOK TS                    7762
dtype: int64

In [10]:
df.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', ' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F', 'All Flags', 'Seq', ' Ack', ' Win', ' TCP length',
       ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [11]:
df.drop([' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F'], axis = 1, inplace=True)

In [12]:
df.isnull().sum()

Action Performed                0
Connection Classification       0
Priority                        0
Date-Time                       0
Source IP                       0
Source Port                     0
Destination IP                  0
Destination Port                0
Protocol                        0
TimeToLive                      0
TypeOfService                   0
ID                              0
IP Length                       0
DataGram Length                 0
All Flags                    2449
Seq                          2449
 Ack                         2449
 Win                         2449
 TCP length                  2449
 TCP Options                 7762
 NOP NOP TS                  7762
 MSS                         7762
 NOP WS                      7762
 SackOK TS                   7762
dtype: int64

In [13]:
df = df[df['All Flags'].notna()] #only taking those rows where value of df['All Flags']is not null

In [14]:
df.isnull().sum()

Action Performed                0
Connection Classification       0
Priority                        0
Date-Time                       0
Source IP                       0
Source Port                     0
Destination IP                  0
Destination Port                0
Protocol                        0
TimeToLive                      0
TypeOfService                   0
ID                              0
IP Length                       0
DataGram Length                 0
All Flags                       0
Seq                             0
 Ack                            0
 Win                            0
 TCP length                     0
 TCP Options                 5313
 NOP NOP TS                  5313
 MSS                         5313
 NOP WS                      5313
 SackOK TS                   5313
dtype: int64

In [15]:
df[' NOP NOP TS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
df[' TCP Options'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
df[' MSS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
df[' NOP WS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
df[' SackOK TS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name

<ipython-input-15-279142483fc7>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' NOP NOP TS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
<ipython-input-15-279142483fc7>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' TCP Options'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
<ipython-input-15-279142483fc7>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' MSS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
<ipython-input-15-279142483fc7>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' NOP WS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name
<ipython-input-15-279142483fc7>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' SackOK TS'].fillna(value=0, inplace=True) # Be carefull of ' ' in front of the column name

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23292 entries, 0 to 25738
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  object
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  object
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  object
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  ID                         23292 non-null  int64
 12  IP Length                  23292 non-null  int64
 13  DataGram Length            23292 non-null  int64
 14  All Flags                  23292 non-null  object
 15  Seq                        23292 non-null  object
 16   Ack                       23292 non-null  object
 17   Win                       23292 non-null  object
 18   TCP length                23292 non-null  float64
 19   TCP Options               23292 non-null  float64
 20   NOP NOP TS                23292 non-null  object
 21   MSS                       23292 non-null  object
 22   NOP WS                    23292 non-null  object
 23   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(6), object(16)
memory usage: 4.4+ MB

In [17]:
df.head()

,Action Performed,Connection Classification,Priority,Date-Time,Source IP,Source Port,Destination IP,Destination Port,Protocol,TimeToLive,...,All Flags,Seq,Ack,Win,TCP length,TCP Options,NOP NOP TS,MSS,NOP WS,SackOK TS
0,TCP Timestamp is outside of PAWS window,,3,1573234989,10.1.60.203,57764,7.204.241.161,25,TCP,63,...,*****R**,0x787AFC70,0x0,0x0,20.0,0.0,0,0,0,0
1,TCP Timestamp is outside of PAWS window,,3,1573235154,7.204.241.161,25,10.1.60.203,50176,TCP,64,...,*****R**,0xE06DEE6F,0x0,0x0,20.0,0.0,0,0,0,0
2,TCP Timestamp is outside of PAWS window,,3,1573235154,7.204.241.161,25,10.1.60.203,50176,TCP,64,...,*****R**,0xE06DEE6F,0x0,0x0,20.0,0.0,0,0,0,0
3,TCP Timestamp is outside of PAWS window,,3,1573235222,154.241.88.201,80,3.75.190.181,60708,TCP,63,...,***A****,0xE20FC272,0x567079D3,0x5B,32.0,3.0,66621799 74830877,,,
4,TCP Timestamp is outside of PAWS window,,3,1573235222,154.241.88.201,80,3.75.190.181,60708,TCP,63,...,***AP***,0xE20FC272,0x567079D3,0x5B,32.0,3.0,66621799 74830877,,,

In [18]:
df.to_csv("semi_processed_1.csv", index=False)

## Preprocessing Phase 2

In [19]:
df2=pd.read_csv("semi_processed.csv")

In [20]:
df2['Connection Classification'].value_counts()

Connection Classification
Web Application Attack                                  8550
                                                        6323
access to a potentially vulnerable web application      3146
Attempted Information Leak                              2582
Executable code was detected                            1756
Attempted Administrator Privilege Gain                   728
Attempted Denial of Service                              148
Attempted User Privilege Gain                             40
Potentially Bad Traffic                                   10
Misc Attack                                                6
A Network Trojan was detected                              2
Attempt to login by a default username and password        1
Name: count, dtype: int64

In [21]:
df2=df2.replace(r'^\s*$', 0, regex=True) # Even after remmoving the Null values there were still
                                         # many empty values in the columns 'Connection Classification',
                                         #' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'

In [22]:
df2['Connection Classification'].value_counts()

Connection Classification
Web Application Attack                                  8550
0                                                       6323
access to a potentially vulnerable web application      3146
Attempted Information Leak                              2582
Executable code was detected                            1756
Attempted Administrator Privilege Gain                   728
Attempted Denial of Service                              148
Attempted User Privilege Gain                             40
Potentially Bad Traffic                                   10
Misc Attack                                                6
A Network Trojan was detected                              2
Attempt to login by a default username and password        1
Name: count, dtype: int64

In [23]:
df2['Connection Classification'].mask(df2['Connection Classification'] != 0, 1, inplace=True) # Making the target variable binary

<ipython-input-23-86fef1aa82ff>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Connection Classification'].mask(df2['Connection Classification'] != 0, 1, inplace=True) # Making the target variable binary

In [24]:
df2['Connection Classification'].value_counts()

Connection Classification
1    16969
0     6323
Name: count, dtype: int64

In [25]:
df2.drop(['ID', 'IP Length'], axis = 1, inplace=True)

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  object
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  DataGram Length            23292 non-null  int64
 12  All Flags                  23292 non-null  object
 13  Seq                        23292 non-null  object
 14   Ack                       23292 non-null  object
 15   Win                       23292 non-null  object
 16   TCP length                23292 non-null  float64
 17   TCP Options               23292 non-null  float64
 18   NOP NOP TS                23292 non-null  object
 19   MSS                       23292 non-null  object
 20   NOP WS                    23292 non-null  object
 21   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(6), object(14)
memory usage: 3.9+ MB

In [27]:
df2.to_csv("semi_processed_2.csv", index=False)

Preprocessing Phase 3

In [28]:
df3=pd.read_csv("semi_processed_2.csv")

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  int64
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  DataGram Length            23292 non-null  int64
 12  All Flags                  23292 non-null  object
 13  Seq                        23292 non-null  object
 14   Ack                       23292 non-null  object
 15   Win                       23292 non-null  object
 16   TCP length                23292 non-null  float64
 17   TCP Options               23292 non-null  float64
 18   NOP NOP TS                23292 non-null  object
 19   MSS                       23292 non-null  int64
 20   NOP WS                    23292 non-null  int64
 21   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(9), object(11)
memory usage: 3.9+ MB

In [30]:
df3.drop(['Protocol'], axis = 1, inplace=True)

In [31]:
df3.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'TimeToLive', 'TypeOfService', 'DataGram Length',
       'All Flags', 'Seq', ' Ack', ' Win', ' TCP length', ' TCP Options',
       ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [32]:
df3.rename(columns={' Ack':'Ack', ' Win':'Win', ' TCP length':'TCP_length', ' TCP Options':'TCP_Options',
       ' NOP NOP TS':'NOP_NOP_TS', ' MSS':'MSS', ' NOP WS':'NOP_WS', ' SackOK TS':'SackOK_TS'}, inplace = True)

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  int64
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   TimeToLive                 23292 non-null  int64
 9   TypeOfService              23292 non-null  object
 10  DataGram Length            23292 non-null  int64
 11  All Flags                  23292 non-null  object
 12  Seq                        23292 non-null  object
 13  Ack                        23292 non-null  object
 14  Win                        23292 non-null  object
 15  TCP_length                 23292 non-null  float64
 16  TCP_Options                23292 non-null  float64
 17  NOP_NOP_TS                 23292 non-null  object
 18  MSS                        23292 non-null  int64
 19  NOP_WS                     23292 non-null  int64
 20  SackOK_TS                  23292 non-null  object
dtypes: float64(2), int64(9), object(10)
memory usage: 3.7+ MB

In [34]:
df3.columns = df3.columns.str.replace(' ', '') # Removing spaces

In [35]:
df3.to_csv("semi_processed_3.csv", index=False)

Pre-processing Phase 4

In [36]:
df4=pd.read_csv("semi_processed_3.csv")

In [37]:
df4['SackOK_TS'].value_counts()

SackOK_TS
0                      23257
47703591 0                 1
57585693 0                 1
76352188 57585693          1
58783455 0                 1
77552132 58783455          1
59083043 0                 1
77852266 59083043          1
101032051 0                1
78551107 101032051         1
61358895 0                 1
80132265 61358895          1
63514839 0                 1
82292136 63514839          1
66809048 0                 1
85592350 66809048          1
101857746 0                1
74021134 100579123         1
100579123 0                1
72152302 53393445          1
49201055 0                 1
67042354 47703591          1
48302515 0                 1
67642371 48302515          1
48661984 0                 1
48664984 0                 1
48668184 0                 1
67952272 49201055          1
53393445 0                 1
50099209 0                 1
68852062 50099209          1
52674722 0                 1
71432268 52674722          1
53273572 0                 1
72032210 53273572          1
86809314 101857746         1
Name: count, dtype: int64

In [38]:
df4.drop(['SackOK_TS'], axis = 1, inplace=True)
df4['NOP_NOP_TS'].value_counts()

NOP_NOP_TS
0                     5375
959034 77997480         10
1317324 79430147         9
1005735 148965311        6
958988 77997297          6
                      ...
1483899 138720379        1
1483917 138720450        1
1483932 138720510        1
1483947 138720571        1
8801960 234455209        1
Name: count, Length: 12567, dtype: int64

In [39]:
df4['NOP_NOP_TS'] = df4['NOP_NOP_TS'].str.replace(' ', '') #Removing spaces

In [40]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ActionPerformed           23292 non-null  object
 1   ConnectionClassification  23292 non-null  int64
 2   Priority                  23292 non-null  int64
 3   Date-Time                 23292 non-null  int64
 4   SourceIP                  23292 non-null  object
 5   SourcePort                23292 non-null  int64
 6   DestinationIP             23292 non-null  object
 7   DestinationPort           23292 non-null  int64
 8   TimeToLive                23292 non-null  int64
 9   TypeOfService             23292 non-null  object
 10  DataGramLength            23292 non-null  int64
 11  AllFlags                  23292 non-null  object
 12  Seq                       23292 non-null  object
 13  Ack                       23292 non-null  object
 14  Win                       23292 non-null  object
 15  TCP_length                23292 non-null  float64
 16  TCP_Options               23292 non-null  float64
 17  NOP_NOP_TS                23292 non-null  object
 18  MSS                       23292 non-null  int64
 19  NOP_WS                    23292 non-null  int64
dtypes: float64(2), int64(9), object(9)
memory usage: 3.6+ MB

In [41]:
df4.to_csv("semi_processed_4.csv", index=False)

Pre-processing Phase 5

In [42]:
df5=pd.read_csv("semi_processed_4.csv")

In [43]:
from sklearn.preprocessing import  MinMaxScaler

In [45]:
mn=MinMaxScaler()
df5[["NOP_NOP_TS"]] = mn.fit_transform(df5[["NOP_NOP_TS"]])
df5[["SourcePort"]] = mn.fit_transform(df5[["SourcePort"]])

In [47]:
df5.columns

Index(['ActionPerformed', 'ConnectionClassification', 'Priority', 'Date-Time',
       'SourceIP', 'SourcePort', 'DestinationIP', 'DestinationPort',
       'TimeToLive', 'TypeOfService', 'DataGramLength', 'AllFlags', 'Seq',
       'Ack', 'Win', 'TCP_length', 'TCP_Options', 'NOP_NOP_TS', 'MSS',
       'NOP_WS'],
      dtype='object')

In [48]:
df55=pd.get_dummies(data=df5, columns=['ActionPerformed', 'Priority', 'Date-Time',
       'SourceIP','DestinationIP', 'DestinationPort',
       'TimeToLive', 'TypeOfService', 'DataGramLength', 'AllFlags', 'Seq',
       'Ack', 'Win', 'TCP_length', 'TCP_Options','MSS',
       'NOP_WS'], drop_first=True)

In [49]:
df55.head()

,ConnectionClassification,SourcePort,NOP_NOP_TS,ActionPerformed_ (http_inspect) BARE BYTE UNICODE ENCODING,ActionPerformed_ (http_inspect) DOUBLE DECODING ATTACK,ActionPerformed_ (http_inspect) IIS UNICODE CODEPOINT ENCODING,ActionPerformed_ (http_inspect) OVERSIZE CHUNK ENCODING,ActionPerformed_ (http_inspect) OVERSIZE REQUEST-URI DIRECTORY,ActionPerformed_ (http_inspect) U ENCODING,ActionPerformed_ (http_inspect) WEBROOT DIRECTORY TRAVERSAL,...,TCP_length_28.0,TCP_length_32.0,TCP_length_40.0,TCP_Options_1.0,TCP_Options_3.0,TCP_Options_5.0,MSS_1160,MSS_1460,NOP_WS_3,NOP_WS_6
0,0,0.88170,0.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0.00000,0.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,0.00000,0.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,0.00084,0.007031,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
4,0,0.00084,0.007031,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False

In [50]:
df55.columns

Index(['ConnectionClassification', 'SourcePort', 'NOP_NOP_TS',
       'ActionPerformed_ (http_inspect) BARE BYTE UNICODE ENCODING  ',
       'ActionPerformed_ (http_inspect) DOUBLE DECODING ATTACK  ',
       'ActionPerformed_ (http_inspect) IIS UNICODE CODEPOINT ENCODING  ',
       'ActionPerformed_ (http_inspect) OVERSIZE CHUNK ENCODING  ',
       'ActionPerformed_ (http_inspect) OVERSIZE REQUEST-URI DIRECTORY  ',
       'ActionPerformed_ (http_inspect) U ENCODING  ',
       'ActionPerformed_ (http_inspect) WEBROOT DIRECTORY TRAVERSAL  ',
       ...
       'TCP_length_28.0', 'TCP_length_32.0', 'TCP_length_40.0',
       'TCP_Options_1.0', 'TCP_Options_3.0', 'TCP_Options_5.0', 'MSS_1160',
       'MSS_1460', 'NOP_WS_3', 'NOP_WS_6'],
      dtype='object', length=39463)

In [ ]:
df55.to_csv("semi_processed_5.csv", index=False)